@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
    font-weight: 800;
    overflow: hidden;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgb(223,223,223);
  border-radius: 0px 0px 30px 30px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  width: 180px;
  left: -120px;
  position: relative;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #6ec5dd;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: #6ec5dd;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #c8d85a;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

ul.topnav .dropdown-content{
  display: none;
  position: absolute;
  /* background-color: rgb(223,223,223); */
}

ul.topnav .dropdown-content a {
  color: black;
  white-space: nowrap;
}
ul.topnav .dropdown:hover > .dropdown-content {
  display: block;
}

.change{
  top: 20px;
  position: relative;
}

.raise{
    width: auto;
    height: 550px;
    position: relative;
    left: 500px;
    top: 150px;
}

.rounded{
    border-radius: 10px 10px 10px 10px;
    border-style: solid;
    border-color: black;
    border-width: 2px;
    width: 450px;
    height: 30px;
    position: absolute;
    left: 540px;
    top:  387px;
    background-color: none;
}

.roundednumber{
    top: 452px;
}

.roundeddesc{
    top: 517px;
    height: 120px;   
}

.button{
  background-color: #6ec5dd; /* Green */
  border-radius: 10px 10px 10px 10px;
  color: white;
  height: 40px;
  width: 120px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 13px;
  font-weight: bold;
  margin: 4px 2px;
  cursor: pointer;
  position: absolute;
  text-transform: uppercase;
  outline: none;
  top: 655px;
  /* right: 860px; */
}

.query{
  position: absolute;
  height: 30px;
  /* width: 100px; */
  background-color: #eee;
  border-radius: 50%;
  top: 320px;
  left: 560px;
}

.fault{
  position: absolute;
  height: 30px;
  /* width: 100px; */
  background-color: #eee;
  border-radius: 50%;
  top: 320px;
  left: 635px;
}

input[type="text"] {

    background-color : transparent; 
    outline: none;
  }

