<!DOCTYPE html>

<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
    <style>
    .logo img{
    max-width: 60%;
    max-height: 60%;
    padding-top: 10px;
    padding-right: 50px;
    display: block; /* remove extra space below image */
  }
    </style>
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
          <a href="index.html" class="logo"><img src="../images/NDGlogo.png" alt="" /></a>
					<nav id="nav">
						<a href="index.html">Home</a>
						<a href="aboutUs.html">About Us</a>
						<a href="index.html">Contact Us</a>
					</nav>
				</div>
			</header>
			<a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" >
				<div class="inner">
					<header class="major special">
						<h1>About Us</h1>
						<!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
					</header>
					<a href="#" class="image fit"><img src="../images/pic11.jpg" alt="" /></a>
<p>NDG Technology's head office is in Oakham, Leicestershire and is one of the most exciting telecoms businesses across the world with our global presence across the UK, Europe and as far as New Zealand. Being licensed to deliver fibre broadband to any location allows the perfect complement for connectivity with IP CCTV.
  With a vast product portfolio that consists of a wide range of services, the world's leading Hosted PBX solution that can connect multiple sites across the world with inclusive call packages. 
  Alongside dealing directly with our own customers, NDG Technology supports wholesaler partnerships who further spread these futuristic packages that are all self-upgrading. Partners benefit from dedicated sales and technical support as well as the bespoke White-label Billing Platform.</p>
        </div>
			</section>

    <!-- Footer -->
    <section id="footer">
      <div class="inner">
        <header>
          <h2>Get in Touch</h2>
        </header>
        <form id="contact-form" method="post" action="/contact">
          <div class="field half first">
            <label for="name">Name</label>
            <input type="text" name="name" id="name" />
          </div>
          <div class="field half">
            <label for="email">Email</label>
            <input type="text" name="email" id="email" />
          </div>
          <div class="field">
            <label for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
          </div>
          <ul class="actions">
            <li><input type="submit" value="Send Message" class="alt" /></li>
          </ul>
        </form>
      </div>
    </section>
  </body>
</html>
