<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script defer src="../JS/freshSales.js"></script>
    <title>Freshsales</title>
  </head>
  <body>
    <h1>FreshSales</h1>
    <button
      onclick="location.reload()"
      style="
        font-size: large;
        background-color: rgba(255, 0, 0, 0.6);
        margin: 20px;
      "
    >
      Reload
    </button>
    <button
      onclick="asyncFreshDesk()"
      style="
        font-size: large;
        background-color: rgba(0, 128, 255, 0.6);
        margin: 20px;
      "
    >
      Fetch FreshDesk Console
    </button>
    <div class="center">
      <h2>Fresh Desk Data Last Ticket</h2>
      <p>Subject: <%= data[0].subject %></p>
      <p>To Emails: <%= data[0].to_emails %></p>

      <hr class="dashed" style="margin-top: 20px; margin-bottom: 20px" />

      <form id="createTicket" action="/createTicket" method="post">
        <h3>Post Code</h3>
        <input name="postCode" type="text" class="postCode" />
        <p class="postCodeError"></p>

        <h3>Email</h3>
        <input name="email" type="text" class="email" />
        <p class="emailError"></p>

        <button id="btn" type="submit">Submit Form</button>
      </form>

      <hr class="dashed" style="margin-top: 20px; margin-bottom: 20px" />

      <form action="/">
        <input type="submit" value="Go To Home Page" class="hButton" />
      </form>
    </div>
  </body>
</html>
