<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" type="text/css" href="../css/success.css" />
    <title>NDG Technology</title>
    <link />
  </head>
  <body>
    <div class="center">
      <h2>Your email has successfully sent</h2>
      <p>Name: <%= data.name %></p>
      <p>Email: <%= data.email %></p>
      <p>Message: <%= data.message %></p>
      <form action="/">
        <input type="submit" value="Go To Home Page" class="hButton" />
      </form>
    </div>
  </body>
</html>
