<!DOCTYPE html>

<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="stylesheet" href="../css/main.css" />
    <style>
      #imagefit{
        text-align: center;
      }
      table tr{
        border: 0px solid transparent;
        text-align: center;
      }
      #ServiceContent img{
        width: 50%;
        height: 50%;

      }
      body{
        background-color: white;
      }
    .logo img{
    max-width: 60%;
    max-height: 60%;
    padding-top: 10px;
    padding-right: 50px;
    display: block; /* remove extra space below image */
  }
  #footer{
    background-color: grey;
    color:c8f693;
  }
  .newP {
    pointer-events: auto;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 0em;
    line-height: 1em;
    text-transform: none;
    -webkit-font-smoothing: subpixel-antialiased;
    color: #000;
    padding-top: 40px;
    margin: auto;
}
p{
  margin: auto;
}
#header{
  opacity: 0.5;
  border-bottom-left-radius: 25px;
  border-bottom-right-radius: 25px;

}
#header:hover {
  opacity: 0.8;
}
#main{
  background-color: white;
}
    </style>
	</head>
	<body>

		<!-- Header -->
    <header id="header">
      <div class="inner">
        <a href="../index.html" class="logo"><img src="../images/NDGlogo.png" alt="" /></a>
        <nav id="nav">
          <a href="../index.html">Home</a>
          <a href="#">About us</a>
          <a href="services.html">Services</a>
          <a href="elements.html">Partners</a>
          <a href="elements.html">Contact us</a>
          <a href="../oneTouch/index.html">Customer portal</a>
        </nav>
      </div>
    </header>
    <a href="#menu" class="navPanelToggle"><span class="fa fa-bars"></span></a>

		<!-- Main -->
			<section id="main" >
				<div style="text-align: center;" class="inner">
					<header class="major special">
						<h1>Website</h1>
						<!-- <p>Lorem ipsum dolor sit amet nullam id egestas urna aliquam</p> -->
					</header>
					<a href="#" class="image fit"><img src="../images/pic11.jpg" alt="" /></a>
<p>NDG Technology's head office is in Oakham, Leicestershire and is one of the most exciting telecoms businesses across the world with our global presence across the UK, Europe and as far as New Zealand. Being licensed to deliver fibre broadband to any location allows the perfect complement for connectivity with IP CCTV.
  With a vast product portfolio that consists of a wide range of services, the world's leading Hosted PBX solution that can connect multiple sites across the world with inclusive call packages. 
  Alongside dealing directly with our own customers, NDG Technology supports wholesaler partnerships who further spread these futuristic packages that are all self-upgrading. Partners benefit from dedicated sales and technical support as well as the bespoke White-label Billing Platform.</p>
        </div>
            </section>
            <section id="banner">
                <div class="inner">
                  <ul class="actions">
                    <!-- <li><a href="#" class="button alt">Get Started</a></li> -->
                  </ul>
                </div>
              </section>

    <!-- Footer -->
    <section style="background-color: #4A4A4A;" id="footer">
      <div  class="inner">
        <header>
          <h2>Contact Us</h2>
        </header>
        <!-- <form id='contact-form' method="post" action="/contact">
          <div class="field half first">
            <label style="color: #c8f693;" for="name">Name</label>
            <input type="text" name="name" id="name" required />
          </div>
          <div class="field half">
            <label style="color: #c8f693;"  for="email">Email</label>
            <input type="text" name="email" id="email" required />
          </div>
          <div class="field">
            <label style="color: #c8f693;"  for="message">Message</label>
            <textarea name="message" id="message" rows="6"></textarea>
          </div>
          <ul class="actions">
            <li>
              <input style="color: #c8f693;" type="submit" value="Send Message" class="alt" required />
            </li>
          </ul>
        </form> -->
        <div class="newP" data-layout-label="Footer Bottom Blocks" data-type="block-field" data-updated-on="1557839579808" id="footerBlocksBottom" >
          <div class="row sqs-row">
            <div class="col sqs-col-4 span-4">
          <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_31_1516189067871_88033">
            <div class="sqs-block-content"><p style="text-align:center;white-space:pre-wrap;" class="">
              <strong>SITE MAP</strong>
            </p><p style="text-align:center;white-space:pre-wrap;" class="">
              <a href="/home">Home</a></p><p style="text-align:center;white-space:pre-wrap;" class="">
                <a href="/about">About us</a></p><p style="text-align:center;white-space:pre-wrap;" class="">
                  <a href="/partners">Partners</a></p><p style="text-align:center;white-space:pre-wrap;" class="">
                    <a href="/services">Services</a></p><p style="text-align:center;white-space:pre-wrap;" class="">
                      <a href="/contact-us">Contact us</a></p><p style="text-align:center;white-space:pre-wrap;" class="">&nbsp;</p>
                    </div>
                  </div>
                </div>
                <div class="col sqs-col-4 span-4" style="padding-left: 5%;"> 
                  <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_31_1516189067871_91174">
                    <div class="sqs-block-content">
                      <p style="text-align:center;white-space:pre-wrap;" class="">
                        <strong>SERVICES</strong>
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">
                        <a href="/hosted-pbx">Hosted PBX</a>
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">
                        <a href="/mobile-phones">Mobile Phones</a>
                      </p><p style="text-align:center;white-space:pre-wrap;" class="">
                        <a href="/cctv">CCTV</a>
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">
                        <a href="/anti-virus">Anti virus</a>
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">
                        <a href="/website-design">Website design</a>
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">
                        <a href="/white-labelling">White labelling</a>
                      </p>
                    </div>
                  </div>
                </div>
                <div class="col sqs-col-4 span-4" style="padding-left: 5%; text-align: center;">
                  <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_31_1516189067871_92553">
                    <div class="sqs-block-content" style="color: white;">
                      <p style="text-align:center;" class="">
                        <br>
                        <strong>Address</strong>
                      </p>
                      <br>
                      <br>
                      <p style="text-align:center;white-space:pre-wrap;" class="">NDG Technology Limited
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">Unit 4 Saddlers Court
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">Oakham Office Park
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">Oakham,
                      </p>
                      <p style="text-align:center;white-space:pre-wrap;" class="">LE15 7GH</p>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
    
                <div class="col sqs-col-4 span-4" style="padding-left: 5%;">
                  <div class="sqs-block html-block sqs-block-html" data-block-type="2" id="block-yui_3_17_2_31_1516189067871_92553">
                    <div class="sqs-block-content">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d2418.9413197996373!2d-0.7417245840512381!3d52.679097432178395!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x48775d947ac5aaab%3A0x57f03210a15d6d4d!2sNDG%20Technology%20Ltd!5e0!3m2!1sen!2sus!4v1609951427902!5m2!1sen!2sus" width="400" height="300" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                    <div>
                    </div>
                  </div>
                </div>
    
              </div>
            </div>
    </div>
    </section>
    <script src="../JS/jquery.min.js"></script>
    <script src="../JS/main.js"></script>
    <script src="../JS/skel.min.js"></script>
    <script src="../JS/util.js"></script> 
  </body>
</html>
