@import url('https://fonts.googleapis.com/css?family=Work+Sans:400,600');


.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 100%;
}
body {
	margin: 0;
	font-family: 'Work Sans', sans-serif;
    font-weight: 800;
}

.container {
	width: 80%;
	margin: 0 auto;
}

header {
  background: rgb(223,223,223);
  border-radius: 0px 0px 30px 30px;
}

header::after {
  content: '';
  display: table;
  clear: both;
}

.logo {
  float: left;
  padding: 10px 0;
  width: 180px;
  left: -120px;
  position: relative;
}

nav {
  float: right;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  display: inline-block;
  margin-left: 70px;
  padding-top: 23px;

  position: relative;
}

nav a {
  color: #6ec5dd;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 15px;
}

nav a:hover {
  color: #6ec5dd;
}

nav a::before {
  content: '';
  display: block;
  height: 5px;
  background-color: #c8d85a;

  position: absolute;
  top: 0;
  width: 0%;

  transition: all ease-in-out 250ms;
}

nav a:hover::before {
  width: 100%;
}

ul.topnav .dropdown-content{
  display: none;
  position: absolute;
  /* background-color: rgb(223,223,223); */
}

ul.topnav .dropdown-content a {
  color: black;
  white-space: nowrap;
}
ul.topnav .dropdown:hover > .dropdown-content {
  display: block;
}

.change{
  top: 20px;
  position: relative;
}

.cloud{
    height: 450px;
    top: 120px;
    position: relative;
    left: 70px;
    margin: 100;
    transition: transform .2s;
}

.raise{
	height: 450px;
	top: 120px;
	position: relative;
	left: 70px;
	margin: 100;
	transition: transform .2s;
}

.live{
	height: 450px;
	top: 120px;
	position: relative;
	left: 70px;
	margin: 100 ;
	transition: transform .2s;
}

.connection{
	height: 450px;
	top: 120px;
	position: relative;
	left: 70px;
	margin: 100 ;
	transition: transform .2s;
}

.user{
	height: 450px;
	top: 120px;
	position: relative;
	left: 70px;
	margin: 100 ;
	transition: transform .2s;
}

.cloud:hover,
.raise:hover,
.live:hover,
.connection:hover,
.user:hover{
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
}
